*{
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
header {
  
}
header .menu_line {
  display: flex;
  justify-content: flex-start;
  flex-flow: wrap;
  background-color: white;
  margin-bottom: 20px;
}

header .menu_line img{
  height: 125px;
  padding-left: 0;
}


header .menu_line div{
  height: 125px;
  color: black;
  text-decoration: none;
}

header .menu_line div a{
  line-height: 125px;
  height: 125px;
  font-size: 15px;
  color: black;
  text-decoration: none;
  padding: 50px 25px;
  
}

header .menu_line div:hover {
  background-color: ghostwhite;
  color: #006bfa;

}


header .menu_line div:first-child:hover {
  background-color: white;
  padding: 0px;
}
header .menu_line div:last-child {
  font-weight: bold;
  margin-left: 100px;
}

header .menu_line div:last-child:hover {
  background-color: white;
}

@media (max-width: 1000px){
  header .menu_line{
    /* Меняем оси шапки, делая её вертикальной. */
    flex-direction: column;
  
    /* Выравнивание элементов шапки с начала (по левому краю). */
    align-items: flex-start;
  }

  header .menu_line img{
    height: 50px;
    padding-left: 0;
  }
}

@media (max-width: 1000px){