<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>IT-КУБ МАОУ ДО ЦДТТ</title>
  <link rel="icon" href="../img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/footer.css">
  <link rel="stylesheet" href="../css/programms.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<div class="wrapper">
  <header class="header">
    <!-- Шапка -->
    <div class="logo">
      <a href="#"><img src="../img/it-cube.jpg" alt=""></a>
    </div>

    <!-- Меню сайта -->
    <nav class="nav">
      <ul>
        <li><a href="./index.html">О Центре</a></li>
        <li><a href="./programms.html">Направления</a> </li>
        <li><a href="./news.html">Новости</a></li>
        <li><a href="./documents.html">Документы</a></li>
        <li><a href="./teachers.html">Педагоги</a></li>
        <li><a href="./schedule.html">Расписание</a></li>
        <li><a href="./events.html">Мероприятия</a></li>
        <li><a href="./contacts.html">Контакты</a></li>
        <li><a href="tel:+78412651695"><b>+7 (8412) 65-16-95</b></a></li>
      </ul>
    </nav>

    <!-- Иконка бургерменю -->
    <div class="burger">
      <span></span>
    </div>
  </header>
</div>

<body>
  <h1 class="name_page">Направления дополнительных образовательных программ, реализуемых в ЦЦО "IT-КУБ" г.Заречный:</h1>
  <div class="programms">
    <div class="card robots">
      <div id="laboratory" class="icon">
        <img src="../img/laboratory.png" alt="icon_robots">
      </div>
      <div class="description">
        <h3 class="programms_name">Лаборатория робототехники</h3>
        <p>Данный курс знакомит учащихся с основами работы с платформой Arduino, языком программирования С++, основами
          схемотехники, пайкой, 3D-моделированием,
          обслуживанием и печати на 3D-принтерах. В ходе занятий ребята самостоятельно
          создают и программируют уже существующие и новые устройства с нуля. </p>
      </div>
      <div class="buttons">
        <a href="https://58.pfdo.ru/app/the-navigator/navigator?program=967752" class="request">Записаться на
          занятия</a>
        <a href="https://58.pfdo.ru/app/the-navigator/navigator?program=967752" class="request">Программа курса</a>
        <a href="https://58.pfdo.ru/app/the-navigator/navigator?program=967752" class="request">Заявление на
          обучение</a>
      </div>
    </div>
    <div class="card sport_robots">
      <div id="sport_robots" class="icon">
        <img src="../img/sport_robot.png" alt="icon_robots">
      </div>
      <div class="description">
        <h3 class="programms_name">Спортивная робототехника</h3>
        <p>Программа «Спортивная робототехника» знакомит подростков 9-13 лет с основами
          робототехники на практике. Ребята изучают робототехнику на основе конструктора
          LEGO EV3 при подготовке к соревнованиям по различным робототехническим
          дисциплинам. Учащиеся и выпусники программы - победители и призеры Кубков
          города Заречного по робототехнике, областных и федеральных соревнований.</p>
      </div>
      <div class="buttons">
        <a href="https://58.pfdo.ru/app/the-navigator/navigator?program=967752" class="request">Записаться на
          занятия</a>
        <a href="https://58.pfdo.ru/app/the-navigator/navigator?program=967752" class="request">Программа курса</a>
        <a href="https://58.pfdo.ru/app/the-navigator/navigator?program=967752" class="request">Заявление на
          обучение</a>
      </div>
    </div>

    <div class="card python">
      <div id="python" class="icon">
        <img src="../img/python.png" alt="icon_python">
      </div>
      <div class="description">
        <h3 class="programms_name">Программирование на Python</h3>
        <p>Python – это универсальный и самый востребованный в мире язык программирования.
          Он пригоден для создания самых разных программ, от игр до веб-сайтов.
          Программа «Программирование на Python» знакомит учащихся с основами языка,
          типами данных, методами и алгоритмами, а затем позволяет применить их на практике
          при написании собственных функциональных приложений, игр, сайтов и чат-ботов.
          Данный курс также будет полезен тем, кто планирует сдавать ОГЭ и ЕГЭ.</p>
      </div>
      <div class="buttons">
        <a href="https://58.pfdo.ru/app/the-navigator/navigator?program=967752" class="request">Записаться на
          занятия</a>
        <a href="https://58.pfdo.ru/app/the-navigator/navigator?program=967752" class="request">Программа курса</a>
        <a href="https://58.pfdo.ru/app/the-navigator/navigator?program=967752" class="request">Заявление на
          обучение</a>
      </div>
    </div>

    <div class="card ar/vr">
      <div id="ar/vr" class="icon">
        <img src="../img/vr.png" alt="icon_vr">
      </div>
      <div class="description">
        <h3 class="programms_name">Виртуальная и дополненная реальность</h3>
        <p>Этот курс идеально подходит для тех, кто хочет погрузиться в увлекательный мир
          виртуальной и дополненной реальности. На занятиях ребята познакомятся с
          основами разработки приложений в популярном игровом движке Unity 3D, изучат
          принципы создания VR/AR-контента и смогут воплотить свои идеи в жизнь.
        </p>
      </div>
      <div class="buttons">
        <a href="https://58.pfdo.ru/app/the-navigator/navigator?program=967752" class="request">Записаться на
          занятия</a>
        <a href="https://58.pfdo.ru/app/the-navigator/navigator?program=967752" class="request">Программа курса</a>
        <a href="https://58.pfdo.ru/app/the-navigator/navigator?program=967752" class="request">Заявление на
          обучение</a>
      </div>
    </div>

    <div class="card admin">
      <div id="admin" class="icon">
        <img src="../img/repair.png" alt="icon_admin">
      </div>
      <div class="description">
        <h3 class="programms_name">Системное администрирование</h3>
        <p>Чему научим? Познакомимся с устройством компьютера, освоим установку и принципы
          администрирования популярных операционных систем, научим подключать компьютер
          к сети и управлять ей, настроим антивирус и защитим компьютер от вредоносных
          программ. Это базовый набор параметров, чтобы знать не только сервисную часть
          компьютера, но и эффективно управлять его аппаратной частью.</p>
      </div>
      <div class="buttons">
        <a href="https://58.pfdo.ru/app/the-navigator/navigator?program=967752" class="request">Записаться на
          занятия</a>
        <a href="https://58.pfdo.ru/app/the-navigator/navigator?program=967752" class="request">Программа курса</a>
        <a href="https://58.pfdo.ru/app/the-navigator/navigator?program=967752" class="request">Заявление на
          обучение</a>
      </div>
    </div>

    <div class="card java">
      <div id="java" class="icon">
        <img src="../img/java.png" alt="icon_java">
      </div>
      <div class="description">
        <h3 class="programms_name">Программирование на Java</h3>
        <p>Чему научим? Познакомимся с устройством компьютера, освоим установку и принципы
          администрирования популярных операционных систем, научим подключать компьютер
          к сети и управлять ей, настроим антивирус и защитим компьютер от вредоносных
          программ. Это базовый набор параметров, чтобы знать не только сервисную часть
          компьютера, но и эффективно управлять его аппаратной частью.</p>
      </div>
      <div class="buttons">
        <a href="https://58.pfdo.ru/app/the-navigator/navigator?program=967752" class="request">Записаться на
          занятия</a>
        <a href="https://58.pfdo.ru/app/the-navigator/navigator?program=967752" class="request">Программа курса</a>
        <a href="https://58.pfdo.ru/app/the-navigator/navigator?program=967752" class="request">Заявление на
          обучение</a>
      </div>
    </div>

    <div class="card mobile">
      <div id="mobile" class="icon">
        <img src="../img/phone.png" alt="icon_mobile">
      </div>
      <div class="description">
        <h3 class="programms_name">Мобильная разработка</h3>
        <p>На данном направлении активно идет разработка мобильных приложений для
          операционной системы Android. Ребята помладше работают в среде Mit App Inventor,
          а ребята постарше программируют на таком языке как Java. В рамках этого направления
          дети научатся верстать, создавать дизайн и программировать функционал мобильных
          приложений в среде разработки Android Studio.</p>
      </div>
      <div class="buttons">
        <a href="https://58.pfdo.ru/app/the-navigator/navigator?program=967752" class="request">Записаться на
          занятия</a>
        <a href="https://58.pfdo.ru/app/the-navigator/navigator?program=967752" class="request">Программа курса</a>
        <a href="https://58.pfdo.ru/app/the-navigator/navigator?program=967752" class="request">Заявление на
          обучение</a>
      </div>
    </div>

    <div class="card data">
      <div id="data" class="icon">
        <img src="../img/monitor.png" alt="icon_data">
      </div>
      <div class="description">
        <h3 class="programms_name">Кибергигиена и большие данные</h3>
        <p>Цель образовательной программы - развитие способностей учащихся к комплексному
          анализу информации, размещенной на различных интернет-ресурсах, в интересах 
          безопасного и рационального использования интернет-пространства, формирование 
          информационной культуры.</p>
      </div>
      <div class="buttons">
        <a href="https://58.pfdo.ru/app/the-navigator/navigator?program=967752" class="request">Записаться на
          занятия</a>
        <a href="https://58.pfdo.ru/app/the-navigator/navigator?program=967752" class="request">Программа курса</a>
        <a href="https://58.pfdo.ru/app/the-navigator/navigator?program=967752" class="request">Заявление на
          обучение</a>
      </div>
    </div>

  </div>
</body>
<footer>
  <div class="footer_container">
    <div class="address footer_container_column">
      <div class="foot_h foot_h address_word">Адрес</div>
      <div class="inner_footer address_fact">г.Заречный, ул. Конституции СССР, д. 39 А.</div>
    </div>

    <div class="contacts footer_container_column">
      <div class="foot_h contacts_word">Контакты</div>
      <div class="inner_footer contacts_phone"><a href="tel:+78412651695">+7 (8412) 65-16-95<br></a></div>
      <div class="inner_footer contacts_mail"><a href="mailto:itcube_zar@yandex.ru">itcube_zar@yandex.ru</a></div>
    </div>

    <div class="social_media footer_container_column">
      <div class="foot_h social_media_word">Социальные сети</div>
      <div class="inner_footer vk_icon"><a href="https://vk.com/public195295272"><img src="../img/vk.png"
            alt="vk_icon"></a></div>
    </div>

  </div>
  <div class="footer_line">© 2024, ЦЦО "IT-КУБ" МАОУ ДО ЦДТТ. Все права защищены. Сделано: Костычев Вадим</div>
</footer>
<script>
  document.querySelector('.burger').addEventListener('click', function () {
    this.classList.toggle('active');
    document.querySelector('.nav').classList.toggle('open');
  })
</script>

</html>